
html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#7c3aed, #22d3ee);
  border-radius: 10px;
}


.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.gradient-text {
  background: linear-gradient(90deg, #7c3aed, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-hover {
  transition: all 0.3s ease;
}

.btn-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.5);
}